
/* Within entire page */
#maincontainer {
	margin: auto;
	width: 70%;
}

/* Front page section */
.mainheadliner {
	margin-top: 30%;
    margin-right: 30%;
    margin-bottom: 30%;
}

#articlecontainer {
	margin: auto;
	width: 70%;
}

.articleheadliner {
	text-align: center;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10%;
}

.articleimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:75%;
	max-height:75%;
}

.articleimagecaption {
	color: #707070;
	background-color: #f9e4d2;
}

.articleimagecaptioninline{
	color: #707070;
	background-color: #f9e4d2;
	margin-bottom: 5%;
}

.articlerow {
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 10%;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.linkedin-icon {
	background: url(icons/linkedin.svg);
	width: 25px;
    height: 25px;
    background-size: 25px 25px;
    margin-right: 10px;
    margin-bottom: 15px;
    float: left;
}

.github-icon {
	background: url(icons/github.svg);
	width: 25px;
    height: 25px;
    background-size: 25px 25px;
    margin-right: 10px;
    margin-bottom: 15px;
    float: left;
}

.gmail-icon {
	background: url(icons/gmail.svg);
	width: 25px;
    height: 25px;
    background-size: 25px 25px;
    margin-right: 10px;
    margin-bottom: 15px;
    float: left;
}

/* Minor site details in a footer */
.footer {
	width: 100%;
	height: 33px;
    margin-bottom: 3rem;
    padding-top: 5px;
    border-top: 1px dashed #999999;
    font-weight: 100;
    font-size: small;
    color: #999999;
}

.hilbert-canvas {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
}
.left {
	left: 0;
}
.right {
	right: 0;
}




/* Row and column classes taken from Nik Papic's style.css, at nik.org */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Columning */
.columnclass {
	width: 47%;
	margin-left: 4%;
	float: left;
    box-sizing: border-box;
}
.columnclass:first-child{
	margin-left: 0;
}

/* Section styles */
body { /* light blue #b3daff, light orange #f9e4d2, slightly darker orange #f6d7bc */
	margin: 0px;
	height: 100%;

	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	font-weight: lighter;
	color: #000000;

	background: #f9e4d2;
}

h1 {
	font-size: 2rem;
    line-height: 1.2;
	font-weight: bolder;
}

html {
	height:100%;
}